<%- include('partials/header'); -%>

<form action="/signup">
  <h2>Sign Up</h2>
  <label for="email">Email</label>
  <input type="text" name="email" required />
  <div class="email error"></div>
  <label for="username">Username</label>
  <input type="text" name="username" required />
  <div class="username error"></div>
  <label for="password">Password</label>
  <input type="password" name="password" required />
  <div class="password error"></div>
  <button>Sign Up</button>
</form>

<%- include('partials/footer'); -%>

<script>
  const form = document.querySelector('form')
  form.addEventListener('submit', async (e) => {
    e.preventDefault()
    // get values
    const email = form.email.value
    const password = form.password.value
    const username = form.username.value
    console.log(email, password)

    let res

    try {
      res = await fetch('/signup', {
        method: 'POST',
        body: JSON.stringify({ email, username, password }),
        headers: { 'Content-Type': 'application/json' },
      })
    } catch (error) {
      console.log(error)
    }

    if (res) {
      console.log(res)
    } else {
      console.log(`Error creating new user!: ${JSON.stringify(res, null, 2)}`)
    }
  })
</script>
